@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-display: swap;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-black text-white antialiased;
  }
  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
  }
}
@layer utilities {
  .bg-gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500;
  }
}
.dots {
  @apply flex items-center justify-center gap-1 mt-1;
}

.dots span {
  @apply w-1.5 h-1.5 bg-gray-400 rounded-full animate-dots;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}
.custom_bullets .swiper-pagination-bullet {
  @apply bg-gray-400;
  opacity: 0.7;
  transition: background-color 0.3s;
  cursor: pointer;
}

.custom_bullets .swiper-pagination-bullet-active {
  background-color: #4f46e5;
}

.swiper-container.swiper-grabbing {
  cursor: grabbing;
}
.swiper-container {
  cursor: grab;
}
[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  width: 100%;

  border-radius: 4px;
  top: -40px;
  left: 0;
  z-index: 10;
}
